<nav>
    <a href="{{ route ('home') }}">Home</a>
    <a href="{{ route ('movies.show',{slug: 'my-awesome-movie'}) }}">My awesome movie</a>
    <a href="{{ route ('movies.show',{slug: 'another-awesome-movie'}) }}">Another awesome movie</a>
    <a href="{{ route ('movies.show',{slug: 'my-awesome-movie-the-trilogy'}) }}">My awesome movie the trilogy</a>
</nav>