@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

h1 {
	@apply text-3xl font-bold mb-3 mt-6;
}

nav {
  @apply text-white border-gray-200 bg-gray-900 p-3
   flex flex-wrap items-center
}

nav a, button {
  @apply p-3 hover:bg-fuchsia-600
}

.box{
  @apply p-8
}

input:not([type="radio"]):not([type="checkbox"]), select {
  @apply border border-slate-300 rounded px-3 py-1.5 focus:border-indigo-500 duration-300;
}